json_database~=0.5.5
lingua-franca
spacy==3.0.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.5/en_core_web_sm-3.0.5.tar.gz
git+https://github.com/neongeckocom/neon-skill-utils